@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: black;
}
    

    /* Header Part Start  */
    .Header{
        width: 100%;
        height: 700px;
        background: linear-gradient(-100.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
        
        
    }
    .Navbar{
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
       margin-right: 200px;
       
        
    }

    .Tagline{
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 30px;
        font-weight: 800;
        font-style: italic;
       
    }

    .home{
        width: 70px;
        height: 20px;
        background-color: rgb(230, 83, 60);
        padding: 8px 20px 8px 20px;
        text-align: center;
        border-radius: 46px;
        justify-content: center;


    }

    
    .menu{
        width: 400px;
        height: 46px;
        list-style: none;
        display: flex;
        gap: 25px; 
        border: solid 1px rgba(255, 255, 255, 0.1);
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
       padding-right: 30px;
       border-radius: 49px;
       font-size: 14px ;
       font-weight: 400;
       color: rgb(255, 255, 255);
    
    }

    .header-part{
        display: flex;
        justify-content: center;
    }

    .header-part-content{
        width: 600px;
        height: 550px; ;
         /* border: solid 1px red; */
         margin-right: 400px;
    } 
    .Heading{
        color: rgb(255, 255, 255);
        font-size: 78px;
        font-weight: 900;
    }

    .heading-description{
        color: rgba(255, 255, 255, 0.5);
       font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    .btn-1{
        width: 224px;
        height: 54px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        border: none;
    }
    .btn-2{
        width: 224px;
        height: 54px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 42px;
        color: rgb(255, 255, 255);
        margin-left: 14px;
        background: none;
    }

    .position{
        position: relative;
    }
    
 

   .resource-part-1{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute ;
    top: 450px;
    left: -110px;
    
   }

   .dot{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    display: inline-block;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 10px;
   }

   .main-content{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
    
   }

   .content-description{
    font-size: 12px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
   }
 
   .resource-part-2{
    width: 200px;
    height: 90px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute ;
    top: 150px;
    left: 250px;
    
   }

   @media screen {
    
   }
    /* Header Part End */
 

    /* 2nd-part Start */

    .secound-part{
        width: 1550px;
        height: 450px;
        /* height: 750px; */
        background-color: black;
        margin: 0 auto;

    }

    .secound-part-div{
        width: 1500px;
        height: 700px;
        align-items: center;
        text-align: center;
        margin: 0 auto;
      
        
    }

    
    .Main-content{
        font-size: 50px;
        font-weight: 900;
        color: rgb(255, 255, 255);
        
    }

    .content-description{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        
    }

    .img-div{
        display: flex;
        justify-content: space-around;
    }

    .img{
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius: 50%;
    }
    
    .img-heading{
        font-size: 17px;
        font-weight: 600;
       color:rgb(255, 255, 255) ;
       
    }
    .img-description{
        font-size: 13px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);


    }

         /* 2nd-part End */
                 
             /* Third part Start  */

    .Run-div{
        width: 1500px;
        height: 450px;
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        display: flex;
        justify-content: space-between;
        

    }
    .content-div{
        width: 443px;
        height: 290px;
    }

     .main-heading{
        font-size: 55px;
        font-weight: 900;
        margin-left: 60px;
        margin-top: 60px;
        color: rgb(255, 255, 255);
     }
      .main-description{
        font-size: 14px;
        font-weight: 400;
        margin-left: 60px;
        color: rgba(255, 255, 255, 0.5);
      }
       .button{
        margin-left: 60px;
        margin-top: 30px;
       }

    .img-run{
        width: 580px;
        height: 420px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 18px;
    }

          /* Third part End */


          /* Fourth Part Start  */

           

    .third-content{
       text-align: center;
       
    }
    .third-heading{
        font-size: 48px;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    .third-description{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .BMI-part{

        width: 100%;
        height: 400px;
        background-color: rgb(34, 34, 34);
        margin-left: 1px;
        display: flex;
        justify-content: center;

    }

    .bmi-table-part{
        
    }

    .bmi-head{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 40px;
        color: rgb(255, 255, 255);
        
    }
    
        

    

    .td{
        /* border: solid 1px red; */
        padding: 10px 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
    }

    .table{
        border-collapse: collapse;

    }

    .thead{
        font-size: 17px;
        font-weight: 600;
        color: rgb(255, 255, 255);

    }
    .tbody{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }

      .Form{
        margin-left: 300px;
      }

    .from-content{
        width: 577px;
        height: 96px;
        margin-bottom: 27px;
        
    }

     .form-head{
        font-size: 26px;
        font-weight: 900;
        color: rgb(255, 255, 255)
     }
    
     .form-description{
        font-size: 15px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);

     }

     .table-content{
        width: 280px;
        height: 40px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-weight: 400;
        padding: 6px 5px 6px 5px;
        margin: 5px 5px 5px 5px;
        
     }

    .option{
        color:rgba(255, 255, 255, 0.6) ;
        width: 515px;
    }
    .option-2{
        color:rgba(255, 255, 255, 0.6) ;
    }

    /* Fourth Part End  */

    /* Fifth Part Start */
      
    .Gallary{

        width: 970px;
        height: 800px;
        margin: 0 auto;

    }
        

   
     
    .Gallary-Content{
        width: 600px;
        height: 120px;
        margin: 0 auto;
        text-align: center;

    }

    .Gallary-header{
        font-size: 45px;
        font-weight: 900;
        color: rgb(255, 255, 255);

    }

    .Gallary-description{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);

    }

    .grid-part{
        width: 955px;
        height: 0%;
        /* border: solid red; */
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }



    .grid-img{
        position: relative;

    }
    

    
    .imges{
        width: 310px;
        height: 260px;
        border-radius: 18px;
        padding: 5px;
       
     }

    .img-content{
        position: absolute;
        margin-top: -90px;
        margin-left: 27px;
    }

    .img-header{
        font-size: 20px;
        font-weight: 900;
        color: whitesmoke;

    }

    .img-subtitle{

        font-size: 15px;
        font-weight: 400;
        color: whitesmoke;

    }



    /* Fifth Part End  */

    /* Footer part Start  */

    .footer{
        background: rgba(255, 255, 255, 0.1);
        }

    .footer-div{
        width: 1000px;
        height: 450px;
         margin: 0 auto;
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);;

    }

    .footer-content{
        width: 400px;
        margin-top: 100px;

    }

    .footer-head{
        font-size: 60px;
        font-weight: 800;
        color: rgb(230, 83, 60);
        font-style: italic;

    }

    .footer-description{

        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);

    }

    .footer-navbar{
        display: flex;
        margin-top: 100px;
        margin-left: 70px;
        
    }

    .footer-nav-titles{
        margin-right: 70px;
    }

    .nav-header{
        font-size: 30px;
        font-weight: 700;
        color: rgb(255, 255, 255);

    }

    .nav-title{
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 400;

    }

    .copyright{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        text-align: center;

    }

    /* Footer part End  */

    


    



    



   